{% extends "base.html" %}

{%block title%}
Цитати відомих людей
{% endblock %}

{% block content%}

<div class="main-class">
<p id='caption'>Цитати відомих людей</p>

<p class='it'>«Просувайтеся швидко і ламайте стіни. Якщо ви не трощите перешкоди, що трапляються на шляху, ви рухаєтеся недостатньо швидко.» </br>©Марк Цукерберг</p>

<p class='literature'>«Учітеся, брати мої, думайте, читайте.»</br> ©Тарас Шевченко</p>

<p class='it'>«Комп'ютер - це найдивовижніший інструмент, з яким я коли-небудь стикався. Це велосипед для нашої свідомості.» </br>©Стів Джобс</p>

<p class='literature'>«Люди перестають мислити, коли перестають читати.» </br> ©Дені Дідро</p>

<p class='it'> вони завжди знайдуть спосіб «як» </br>©Джордан Белфорт</p>

<p class='literature'>«Життя – гра. Все залежить від тебе, твоїх ідей та думок.» </br> ©Стівен Джобс</p>

<p class='it'>Успішних підприємців від невдах відрізняє лише наполегливість </br>©Джордан Белфорт</p>

ㅤ
</div>

{% endblock %}