{% extends "base.html" %}

{% block title %}
Вірш
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="styles.css">

<div class="vers-class">
    <h1 style="text-weight: bold;"><a href="{{ url_for('verse_discussion', verse_id=1) }}">Вірш 1</a></h1>
    <h2>Садок вишневий коло хати</h2>
    <h3>Т.Г. Шевченко</h3>
    <pre>
        Садок вишневий коло хати,
        Хрущі над вишнями гудуть,
        Плугатарі з плугами йдуть,
        Співають ідучи дівчата,

        А матері вечерять ждуть.
        Сім’я вечеря коло хати,
        Вечірня зіронька встає.
        Дочка вечерять подає,

        А мати хоче научати,
        Так соловейко не дає.
        Затихло все, тілько дівчата
        Та соловейко не затих.
    </pre>
    <p><1847></p>
</div>

<div class="vers-class">
    <h1 style="text-weight: bold;"><a href="{{ url_for('verse_discussion', verse_id=2) }}">Вірш 2</a></h1>
    <h2>Лебеді матерінка</h2>
    <h3>Леся Українка</h3>
    <pre>
        Ой лети, лети, лебедоньку,
        За Дніпро, за Яўпоріжжя,
        Там чекає тебе матінка,
        Там чекає тебе рідня.

        Не чекай ти мене, матінко,
        Не чекай мене з вечора,
        Я лечу в темнім хмари-шатрах,
        Я лечу в чужому краю.

        Лети ж, лети ж, дівчинонько,
        На Україну свою,
        На зеленії степи-паси,
        На дівочії мрії.
    </pre>
    <p><1898></p>
</div>

{% endblock %}
