<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link href="carousel.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>
        shop
    </title>
</head>

<div class="page vw-100">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <a href="/" class="header-logo d-inline-flex link-body-emphasis text-decoration-none">
        <img src="{{url_for('static', filename='image/logo.png')}}" width="64" height="64">
    </a>

   <ul class="nav col-12 col-md-auto mb-2 ms-auto mb-md-0">
    <li style="margin-right: 30px;"><a href="{{ url_for('main_site') }}" class="btn btn-secondary px-4">Shop</a></li>
    <li style="margin-right: 30px;"><a href="{{ url_for('main_site') }}" class="btn btn-secondary px-4">про нас</a></li>
    <li style="margin-right: 30px;"><a href="{{ url_for('cart') }}" class="btn btn-warning rounded-pill px-4"><i class="bi bi-cart3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
</svg></i></a></li>
</ul>


<div class="header-knopki col-md-3 text-end">


</div>


</header>


<div class="content">


    <style>

        .card {
            height: 400px;
        }
        .gray-block {
            background-color: #f2f2f2;
            padding: 20px;
        }
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
            z-index: 998; /* Behind the payment buttons */
        }
        .btn-pay {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }
        .btn-pay button {
            margin: 10px;
        }

        .CAROUSEL_CONTAINER{
            height: 400px
        }
    </style>
    <div class="CAROUSEL_CONTAINER">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel"  >
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <p class="opacity-75">НИЧЕГО 1 лвл</p>
                            <p><a class="btn btn-lg btn-primary buy-btn" data-price="20">КУПИТЬ 20 грн</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <p>КРУТОЕ НИЧЕГО 2 лвл</p>
                            <p><a class="btn btn-lg btn-primary buy-btn" data-price="60">КУПИТЬ 60 грн</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>СУПЕР ПУПЕР 99 лвл</h1>
                            <p>СУПЕР ПУПЕР 99 лвл</p>

                            <p><a class="btn btn-lg btn-primary buy-btn" data-price="200">КУПИТЬ 200 грн</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container">
        <div class="gray-block">
            <h1 style="margin: 0; text-align: center; margin_bottom: 30px;">СУПЕР КРУТЫЕ ТОВАРЫ</h1>
        </div>
        <div class="gray-block">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <div class="col" id="product20">
                    <div class="card shadow-sm">
                        <img src="{{url_for('static', filename='image/Безымянный.png')}}" class="card-img-top mx-auto d-block" style="width: 50%; height: 50%;" alt="...">
                        <div class="card-body text-center">
                            <p class="card-text">Ничего</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success buy-btn" data-price="20" data-product="Ничего">20 грн</button>
                            </div>
                            <p class="text-muted">ты крутой</p>
                            <form action="/add_to_cart" method="post">
                                <input type="hidden" name="product" value="Ничего">
                                <input type="hidden" name="price" value="20"> <!-- Set the price value here -->
                                <button type="submit" data-price="20" name="price">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col" id="product60">
                    <div class="card shadow-sm">
                        <img src="{{url_for('static', filename='image/ничего.png')}}" class="card-img-top mx-auto d-block" style="width: 50%; height: 50%;" alt="...">
                        <div class="card-body text-center">
                            <p class="card-text">красивое ничего</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success buy-btn" data-price="60" data-product="Красивое ничего">60 грн</button>
                            </div>
                            <p class="text-muted">этот продукт очень крутой</p>
                            <form action="/add_to_cart" method="post">
                                <input type="hidden" name="product" value="Красивое Ничего">
                                <input type="hidden" name="price" value="60"> <!-- Set the price value here -->
                                <button type="submit">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col" id="product200">
                    <div class="card shadow-sm">
                        <img src="{{url_for('static', filename='image/.png')}}" class="card-img-top mx-auto d-block" style="width: 50%; height: 50%;" alt="...">
                        <div class="card-body text-center">
                            <p class="card-text">  ㅤㅤㅤㅤ</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success buy-btn" data-price="200" data-product="Товар 3">200 грн</button>
                            </div>
                            <p class="text-muted">ты крутой</p>
                            <form action="/add_to_cart" method="post">
                                <input type="hidden" name="product" value="">
                                <input type="hidden" name="price" value="200">
                                <button type="submit" data-price="200" name="price">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>

    <div class="btn-pay" style="display: none;">
        <div class="confirmation-message">
            <h1>Вы точно хотите купить этот товар за <span class="price"></span> грн?</h1>
        </div>
        <button class="btn btn-success btn-pay-now" type="button">оплатить</button>
        <button class="btn btn-danger btn-reject-now" type="button">отклонить</button>
    </div>

    <script>

        function scrollToProduct(productId) {
            const element = document.getElementById(productId);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        }

        // Function to handle buy button click
        document.querySelectorAll('.buy-btn').forEach(item => {
            item.addEventListener('click', event => {
                const price = parseInt(item.getAttribute('data-price'));

                document.querySelector('.overlay').style.display = 'block';

                document.querySelector('.price').innerText = price;
                document.querySelector('.confirmation-message').style.display = 'block';

                if (price === 20 || price === 60 || price === 200) {
                    document.querySelector('.btn-pay').style.display = 'block';

                    if (price === 20) {
                        document.querySelector('.btn-pay-now').classList.remove('btn-danger');
                        document.querySelector('.btn-pay-now').classList.add('btn-success');
                    } else if (price === 60) {
                        document.querySelector('.btn-pay-now').classList.remove('btn-danger');
                        document.querySelector('.btn-pay-now').classList.add('btn-success');
                    } else if (price === 200) {
                        document.querySelector('.btn-pay-now').classList.remove('btn-danger');
                        document.querySelector('.btn-pay-now').classList.add('btn-success');
                    }
                    document.querySelector('.btn-pay-now').setAttribute('data-price', price);
                }

                document.querySelector('.btn-pay-now').setAttribute('data-product', item.getAttribute('data-product'));
                event.preventDefault();
                const productId = 'product' + price;
                scrollToProduct(productId);
            });
        });

        // Function to handle pay button click
        document.querySelector('.btn-pay-now').addEventListener('click', () => {
            const price = parseInt(document.querySelector('.btn-pay-now').getAttribute('data-price'));
            // Redirect user based on the price
            if (price === 20) {
                window.location.href = '#'; // Замените на вашу ссылку
            } else if (price === 60) {
                window.location.href = '#'; // Замените на вашу ссылку
            } else if (price === 200) {
                window.location.href = '#'; // Замените на вашу ссылку
            }
        });

        // Function to handle reject button click
        document.querySelector('.btn-reject-now').addEventListener('click', () => {

            document.querySelector('.overlay').style.display = 'none';
            document.querySelector('.confirmation-message').style.display = 'none';
            document.querySelector('.btn-pay').style.display = 'none';
        });
    </script>
    <script>
        document.getElementById('cart-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var form = event.target;
            var items = form.querySelectorAll('input[name="items[]"]');
            var prices = form.querySelectorAll('input[name="prices[]"]');
            var formData = new FormData();

            items.forEach(function(item, index) {
                var itemName = item.value;
                var itemPrice = prices[index].value;
                formData.append('items[]', itemName);
                formData.append('prices[]', itemPrice);
            });


            fetch('/add_to_cart', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    console.log('Items added to cart successfully');

                } else {
                    console.error('Failed to add items to cart');
                }
            })
            .catch(error => {
                console.error('Error adding items to cart:', error);
            });
        });
    </script>
    <script>

        function scrollToProduct(productId) {
            const element = document.getElementById(productId);
            if (element) {
                const yOffset = -100;
                const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
                window.scrollTo({ top: y, behavior: 'smooth' });
            }
        }

        document.querySelectorAll('.carousel-item').forEach(item => {
            item.addEventListener('click', event => {
                const priceElement = item.querySelector('.btn-primary');
                if (priceElement) {
                    event.preventDefault();
                    const price = parseInt(priceElement.textContent.trim().split(' ')[1]);
                    const productId = 'product' + price;
                    scrollToProduct(productId);
                }
            });
        });
    </script>


    <h1>Купите</h1>
    <h1>я буду рад</h1>
    <h1>очень сильно</h1>


</div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="footer-logo mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
         <img  src="{{url_for('static', filename='image/logo.png')}}" width="64" height="64">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" >
      <li class="ms-3"><a class="text-body-secondary" href="#">twitter<svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#">instagram<svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#">facebook<svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
    </footer>

</div>

</html>